/* General page styles */
body {
  font-family: Arial, sans-serif;
  background-color: #9FDDF7;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.page-header {
  background-color: ##1A12EA;
  padding: 20px 0;
  margin-bottom: 30px;
  border-radius: 10px;
}

#page-header {
  color: black;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

/* Table styling */
.fact-table {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

.fact-table th, .fact-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #333;
}

.fact-table th {
  background-color: #018CC7;
  color: white;
  font-size: 1.2rem;
}

.fact-table td {
  font-size: 1rem;
}

.field-title {
  background-color: #053368;
  font-weight: bold;
}

/* Image styling */
.fact-table img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}